{% extends "base.html" %}
{% block title %}You can smile, you can cry at the same time{% endblock %}
{% block head %}
{{ super() }}
<style>
    .col {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}
{% block content %}
<div class="text-center">
    <div class="col">
        <a href="{{ url_for('home') }}"><img class="img-fluid rounded mx-auto d-block" src="static/img.jpg"></a>
    </div>
</div>
{% endblock %}